.main-content-about {
    text-align: center;
}

.about-content {
    max-height: 100%;
    overflow-y: scroll;
    padding: 1rem;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lightslategrey;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: lightslategrey;
}

.team-lineup {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.team-member-profile {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.team-member-profile h3 {
    font-weight: bold;
    font-size: 2rem;
}

.team-member-profile h4 {
    font-weight: bold;
    font-size: 1.5rem;
}

.team-member-image {
    --dimension: 15rem;
    border-radius: 50%;
    height: var(--dimension);
    width: var(--dimension);
    object-fit: cover;
}