ul {
    list-style-type: none;
}

#navbar {

}

#nav-logo {
    width: 5rem;
}

#nav-logo-link {
    border: none;
}

#main-container {
    width: 100%;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
}

a {
    text-decoration: none;
    color: black;
    padding: 0.25rem;
    border: 3px dotted hotpink;
    border-radius: 1rem;
}

a:hover {
    color: green;

}

a:active {
    color: blue;
}

li {
    margin: 1.25rem 0;
}